/*
        PRP Project
        Copyright (C) 2020  The PRP Project

        This program is free software: you can redistribute it and/or modify
        it under the terms of the GNU General Public License as published by
        the Free Software Foundation, either version 3 of the License, or
        (at your option) any later version.

        This program is distributed in the hope that it will be useful,
        but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        GNU General Public License for more details.

        You should have received a copy of the GNU General Public License
        along with this program.  If not, see <https://www.gnu.org/licenses/>.

*/

$primary-color: #17a2b9;
$secondary-color: #2b3033;

$time-column-width: 60px;

.calendar-container {

  display: grid;
  grid-template-columns: $time-column-width auto;
  grid-template-rows: auto;
  gap: 1px 1px;
  grid-template-areas: ". header" "timeslots-container main";

  li {
    list-style: none;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  .header {
    background-color: $secondary-color;
    grid-area: header;

    .dayname {
      background-color: $primary-color;
    }

    .daynumber {
      color: white;
      min-height: 2em;
    }

    .dayname & .daynumber {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .timeslots-container {
    background-color: lightgray;
    grid-area: timeslots-container;
    justify-items: left;

    .timeslots {
      display: flex;
      flex-direction: column;
      align-items: center;

      li {
        min-height: 60px;
        min-width: $time-column-width;


        &:after {
          content: "";
          position: absolute;
          left: 10px;
          width: 100%;
          height: 1px;
          background: #afafaf;
          z-index: 1;
        }

      }
    }
  }

  .events-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* 24 Zeilen * 4 (da 15 Minuten pro Zeile) = 96*/
    grid-template-rows: repeat(96, 1fr);
    grid-area: main;
    position: relative;

    .slot {
      position: absolute;
      background-color: lightcoral;
      border-radius: 5px;
      z-index: 2;
      color: white;

      .event-status {
        float: left;
        border-left: 3px solid rgb(71, 235, 93);
        height: 100%;
      }
    }

    .slot-1 {
      height: 60px;
      grid-row: 5;
    }
  }
  
    #allDayCheckbox {
    float: left;
    max-width: 40px;
    margin-right: 10px;
  }
  
  #allDayCheckboxLabel {
    margin-top: 7px;
  }
  
}
